* {
    font-family: 'Noteworthy', 'huimin', cursive;
    color: #ccc;
}
body {
    background-color: #120900;
}
/* 背景を付けたい場合 */
header {
    /* 画像をgoogledriveから取得する場合 */
    /* background-image: linear-gradient( rgb(20,10,0, 1), rgba(0,0,33, 0), rgb(20,10,0, 1)), url("https://lh3.googleusercontent.com/d/11RdU7Jlp52HFMuwHfOXp5KufZJPeP1S8"); */
    background-image: linear-gradient( rgb(20,10,0, 1), rgba(0,0,33, 0), rgb(20,10,0, 1)), url(../image/1741677822373.jpg);
    background-size: cover; /* 画像を画面サイズに合わせる */
    background-position: center; /* 画像を中央に配置 */
    background-repeat: no-repeat; /* 画像を繰り返さない */
    width: 100vw; /* ビューポート幅に合わせる */
    height: 100vh; /* ビューポート高さに合わせる */
    /* background-image: url("../image/1741677822373.jpg"); */
}
main {
    padding: 20px;
}
/* モバイル対応 */
@media (max-width: 768px) {
    header {
        background-size: cover; /* 画像が画面内に収まるように調整 */
        background-position: center top; /* 画像が見切れないように調整 */
        height: auto; /* 高さをコンテンツに合わせて動的に調整 */
    }
}
@media (max-width: 480px) {
    header {
        background-size: cover; /* 画像が画面内に収まるように調整 */
        background-position: center top; /* 画像が見切れないように調整 */
        height: auto; /* 高さをコンテンツに合わせて動的に調整 */
    }
}

h1 {
    margin: 10px; /* マージンをリセット */
    padding: 10px; /* パディングをリセット */
}
h2 {
    margin: 10px; /* マージンをリセット */
    padding: 10px; /* パディングをリセット */
}
p {
    margin: 10px; /* マージンをリセット */
    padding: 10px; /* パディングをリセット */
    line-height: normal; /* 行間を0にする */
}
hr {
    border: none;
}
table {
    margin: 10px; /* マージンをリセット */
    padding: 10px; /* パディングをリセット */
}
a {
    color: #ccc;
}

ul.mokuji {
    display: flex;
    justify-content: space-around;
}
@media (max-width: 768px) { /* 画面幅が768px以下の場合 */
    ul.mokuji {
      display: block; /* display: flex を解除して要素を縦並びにする */
    }
}
li.mokuji {
    list-style:none;
}

table {
    width: 100%;
    border-collapse: collapse;
}
table th,
table td {
    border: none; /* すべての境界線を削除 */
    padding: 8px; /* セル内の余白を指定 */
}
table th {
    border-bottom: 2px solid #ccc; /* ヘッダーの下に横線を追加 */
}
table td {
    border-bottom: 1px solid #ccc; /* データ行の下に横線を追加 */
}
table tbody tr:last-child td {
    border-bottom: none; /* 最終行の下には線を表示しない */
}

.light-green {
    color: #04633e;
}
.blossom {
    color: #a14d47;
}
.yellow {
    color: #b4902c;
}
.gray-pink {
    color: #c9acad;
}
.gray-green {
    color: #abc9aa;
}
.gray-blue {
    color: #a7baca;
}

/* outline */
.accordion-item {
    background-color: #120900;
    
}
.accordion-button {
    background-color: #6b9bb3;
}